<!DOCTYPE html>
<html>
  <head>
    <title>Register - Staff</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='styles/edit_user.css')}}">
    <script src="{{ url_for('static', filename='javascripts/add.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascripts/access_data.js') }}" defer></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <nav>
      <img id="logo" src="https://image.pngaaa.com/970/3314970-middle.png" alt="logo">
      <div class="wrap-menu">
        <a class="main-menu" href="/">Home</a>
        <a class="main-menu" href="">Contact</a>
        <a class="main-menu hook" href="">send-Notice</a>
      </div>
    </nav>
    <div id="popUp">
      <h4 id="cross"><i class="fa-sharp fa-solid fa-circle-xmark"></i></h4>
      Website is in progress...
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id minima nam, enim blanditiis officia eius explicabo voluptatibus. Necessitatibus quaerat quas molestiae corporis at!
      </div>
    </div>
    <section class="contact-from pt-1">
      <div class="container" style="background: #fff;">
        <div id="pad" class="row mt-2">
          <div class="col-md-7 mx-auto">
            <div class="form-wrapper">
              <div class="row">
                <div class="col-md-12">
                  <h2 style="text-align: center;" id="Registration">Registration form</h2>
                </div>
              </div>
              <form
                action="/savedetails"
                method="post"
                enctype="multipart/form-data"
              >
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Name</label>
                      <input
                        id="name"
                        type="text"
                        class="form-control"
                        name="name"
                        placeholder="Name"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="">Email</label>
                    <div class="form-group">
                      <input
                        id="email"
                        type="email"
                        class="form-control"
                        name="email"
                        placeholder="Email"
                        
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="">Gender</label>
                    <div class="form-group">
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          name="gender"
                          type="radio"
                          name="inlineRadioOptions"
                          id="inlineRadio1"
                          value="Male"
                        />
                        <label class="form-check-label" for="inlineRadio1"
                          >Male</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          name="gender"
                          type="radio"
                          name="inlineRadioOptions"
                          id="inlineRadio2"
                          value="Female"
                          placeholder="."
                          style="margin-left: 10px; margin-top: 5px;"
                        />
                        <label class="form-check-label" for="inlineRadio1"
                          >Female</label
                        >
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Contact Number</label>
                      <input
                        id="contact"
                        type="text"
                        class="form-control"
                        name="contact"
                        placeholder="Phone number"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Enrollment_no</label>
                      <input
                        id="Enrollment_no"
                        type="text"
                        class="form-control"
                        name="Enrollment_no"
                        placeholder="Enrollment_no"
                      />
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">DOB</label>
                      <input id="dob" type="date" name="dob" class="form-control" placeholder="."/>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label  style="display: flex; align-items: center; justify-content: center;"  class="form-check-label"
                        >Upload Profile Pic
                        <i
                          class="fa fa-camera ml-3"
                          aria-hidden="true"
                          style="color:rgba(160, 161, 162, 0.731)"
                        ></i>
                      </label>
                      <input
                        id="profile_pi"
                        name="profile_pic"
                        class="inp_file"
                        type="file"
                        placeholder="."
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <button id="update_button" class="btn  mx-auto">Register</button>
                </div>
                <div class="row" id="copyright">
                  <a href=""><img src="../static/images/linkedin.png" alt="linkdein"></a>
                  <a href=""><img src="../static/images/social.png" alt="Github"></a>
                  <a href=""><img src="../static/images/twitter-logo.png" alt="Twitter"></a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer style="display: flex; align-items: center; justify-content: space-around;"><p>@CopyRightReserved</p>
      <p>~Rudra❤️Saha</p>
</footer>
  </body>
</html>
