<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Dashboard</title>
    <script src="{{ url_for('static', filename='javascripts/teacher_dash.js') }}" defer></script>
</head>
<body>
    <h1>Successful login by TEACHER {{username}} 😊</h1>
    <h4>ENROLLMENT_NO : {{teacher_details['enrollment_no']}}</h4>
    <h1>Leave Application</h1>
    <form id="leaveApplicationForm" method="POST"  action="/submit_application" enctype="multipart/form-data">
        <label for="">EN Number</label>
        <input name="enrollment" type="text" value="{{teacher_details['enrollment_no']}}" placeholder="EN number">
        <br>
        <label for="">Start date*</label>
        <input type="datetime-local" name="start_time" id="start_time" placeholder=".">
        <br>
        <label for="">End date*</label>
        <input type="datetime-local" name="end_time" id="end_time" placeholder=".">
        <br>
        <label for="">My Reason:</label>
        <input name="reason" type="text" placeholder="enter your messege">
        <br>
        <span>Status : <span id="Status">{{status}}</span></span>
        <br>
        <input id="sumbit" type="submit" value="Apply">
    </form>
    <a href="/logout">Logout Me</a>
</body>
</html>

