@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Bitter:ital,wght@0,100..900;1,100..900&family=Holtwood+One+SC&family=Kalam:wght@300;400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Strike&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Bitter:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Holtwood+One+SC&family=Kalam:wght@300;400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Strike&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

#loader h1 {
  font-family: "CanvasNera", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 8rem;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  color: #bcbcc4;
}

.nav {
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}
.nav .logo {
  width: 13vw;
  padding: 0.7rem;
}
.nav .logo img {
  width: 100%;
}
.nav .btns {
  width: 20vw;
  padding: 1rem;
  gap: 2vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .btns .apply {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  background: rgba(230, 226, 226, 0.9176470588);
}
.nav .btns .login {
  padding: 0.7rem 1.3rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  background: rgba(230, 226, 226, 0.9176470588);
}
.nav .btns .login a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  height: 70vh;
  background-image: url(https://images.unsplash.com/photo-1523580846011-d3a5bc25702b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjN8fHN0dWRlbnR8ZW58MHx8MHx8fDA%3D);
  background-repeat: no-repeat;
  background-position: center center;
  image-rendering: pixelated;
  filter: brightness(1.1) contrast(1) saturate(1.2);
  background-size: cover;
}
header .subheader {
  width: 100%;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .subheader h1 {
  color: #272626;
  background: rgba(219, 239, 240, 0.9176470588);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
header .subheader ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 1rem;
  gap: 2vh;
  margin-left: 4rem;
  background: rgba(219, 239, 240, 0.9176470588);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 1rem;
  border-radius: 0.5rem;
}
header .subheader ul li {
  font-size: 1.4rem;
  color: #272626;
  font-weight: 400 !important;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}
header .subheader a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #272626;
  background: rgba(219, 239, 240, 0.9176470588);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 0.78rem;
  border-radius: 0.5rem;
  font-weight: 600;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-weight: 400 !important;
  gap: 2vh;
}
header .subheader a i {
  color: black;
  width: 1.2rem;
  aspect-ratio: 1/1;
}
header .middleheader {
  width: 100%;
  height: 46vh;
  display: flex;
  gap: 0.2vh;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem;
}
header .middleheader h1 {
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
}
header .middleheader #university {
  font-size: 4rem;
  color: #fff;
}
header .middleheader .btn {
  padding: 0.7rem 1.3rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  background: #fff;
}
header #for-mobile-device {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}
header #for-mobile-device #lastCard {
  margin-left: 10rem;
}
header .footerheader {
  width: 100%;
  height: 25vh;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
header .footerheader .box {
  width: 250px;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  background: rgba(230, 226, 226, 0.9960784314);
  border-radius: 0.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
  font-size: 1rem !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
header .footerheader .box img {
  width: 90px;
  aspect-ratio: 1/1;
  mix-blend-mode: multiply;
}

main {
  width: 100%;
  min-height: 100vh;
}
main .blankSpace {
  width: 100%;
  height: 20vh;
}
main .blankSpace-forMovile-devices {
  width: 100%;
  height: 1vh;
}
main .contentStart {
  width: 100%;
  height: 80vh;
  display: flex;
}
main .contentStart .leftDiv {
  width: 50%;
  height: inherit;
  position: relative;
}
main .contentStart .leftDiv .holded {
  position: relative;
  width: 100%;
  height: 100%;
}
main .contentStart .leftDiv .holded .card1 {
  aspect-ratio: 1/1;
  background: #E9B802;
  position: absolute;
  width: 250px;
  top: 25%;
  left: 28%;
  transform: translate(-25%, -28%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
}
main .contentStart .leftDiv .holded .card3 {
  aspect-ratio: 1/1;
  background: #E9B802;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
  width: 200px;
  bottom: 3%;
  right: 19%;
  transform: translate(-3%, -19%);
  background-image: url(https://images.unsplash.com/flagged/photo-1556514767-5c270b96a005?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTZ8MTkwNzI4fHxlbnwwfHx8fHw%3D);
}
main .contentStart .leftDiv .holded .card2 {
  width: 350px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(https://plus.unsplash.com/premium_photo-1714259939526-4ef4ffa03caf?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGdyYWR1dGlvbiUyMGFuZCUyMHN0dWR5JTIwcmVsZWF0ZWQlMjBpbWFnZXxlbnwwfHwwfHx8MA%3D%3D);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
}
main .contentStart .rightDiv {
  width: 50%;
  height: inherit;
  display: grid;
  place-items: center;
}
main .contentStart .rightDiv .center {
  width: 500px;
  height: 500px;
  padding: 1.5rem;
}
main .contentStart .rightDiv .center button {
  padding: 0.7rem 1.2rem;
  border: none !important;
  border-radius: 0.4rem !important;
}
main .newContent {
  background: #EAECEB;
  width: 100%;
  height: 140vh;
}
main .newContent .firstBlankDiv {
  width: 100%;
  height: 10vh;
}

@media (max-width: 1330px) {
  .footerheader {
    width: 100%;
    height: 25vh;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .footerheader .box2 {
    margin-left: 10rem;
  }
  .footerheader .box3 {
    margin-right: 10rem;
  }
  main .blankSpace {
    height: 50vh;
  }
}
@media (max-width: 1213px) {
  .leftDiv .card1 {
    top: 25%;
    left: 22% !important;
    transform: translate(-25%, -15%);
  }
  .leftDiv .card3 {
    bottom: 25%;
    right: 8% !important;
    transform: translate(-25%, -22%);
  }
}
@media (max-width: 1009px) {
  main .newContent {
    width: 100%;
    height: 170vh;
  }
  main .newContent .firstBlankDiv {
    width: 100%;
    height: 90vh;
  }
  main .blankSpace-forMovile-devices {
    height: 80vh;
  }
  main .contentStart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .contentStart .leftDiv {
    height: 70vh;
    width: 100%;
  }
  main .contentStart .leftDiv .holded {
    height: inherit !important;
  }
  main .contentStart .rightDiv {
    width: 100%;
    background: green;
  }
}
@media (max-width: 590px) {
  #university {
    font-size: 3rem !important;
  }
}
@media (max-width: 502px) {
  .contentStart .rightDiv .center {
    width: 370px !important;
  }
}
@media (max-width: 461px) {
  #university {
    font-size: 2rem !important;
  }
}
@media (max-width: 413px) {
  .blankSpace_forMovile_devices {
    height: 100vh !important;
  }
  .contentStart {
    gap: 5rem !important;
  }
  #for-mobile-device .box {
    margin: auto;
  }
  #for-mobile-device #lastCard {
    display: none;
  }
}
@media (max-width: 368px) {
  .middleheader {
    padding: 1rem !important;
  }
  .middleheader h1 {
    font-size: 2rem !important;
  }
  .middleheader #university {
    font-size: 2.1rem !important;
  }
  .middleheader .btn {
    padding: 0.5rem !important;
    font-size: 0.9rem !important;
  }
}/*# sourceMappingURL=app.css.map */