
@media (width <= 775px){
    #cenntteerr{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media (width <= 760px){
    .text-danger{
        display: flex;
        flex-direction: row;
    }
}

