nav{
    background: #F0F1F6;
    height: 10vh;
    padding: 1rem;
}

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Poppins:wght@300;400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}


main{
    width: 100%;
    min-height: 100vh;
    /* background: red; */
    /* padding: 1rem; */
    /* display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    gap: 1rem; */
    
    
}
.card-container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
    place-items: center;
    /* flex-wrap: wrap; */
    gap: 10px;
    /* background: #000; */
    justify-content: center;
}

.user-card {
    width: 470px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

.avatar-holder img {
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.user-info-holder {
    text-align: center;
}

.name {
    font-size: 1.7em;
    margin: 10px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

.skill {
    color: #888;
    margin-bottom: 20px;
}

.evaluations {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.evaluation {
    display: flex;
    align-items: center;
}

.evaluation-icon {
    margin-right: 5px;
    color: #1c2b62;
}

.desc {
    margin-bottom: 20px;
}

.button {
    margin-top: 10px;
    
}

.show-more-btn {
    padding: 10px 20px;
    border: none;
    background: #F0F1F6;
    /* border: 2px solid #1c2b62; */
    color: #1c2b62;
    border-radius: 7px;
    font-weight: 500;
    cursor: pointer;
}

@media (width <= 1250px){
    .card-container{
        grid-template-columns: repeat(2 , 1fr) !important;
        grid-template-rows: repeat(2 , 1fr) !important;
    }
}


