@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Bitter:ital,wght@0,100..900;1,100..900&family=Holtwood+One+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Strike&display=swap');
#green{
    background: #c5c5c590;
    padding: .7rem;
    border-radius: 10px;
}
nav{
    width: 100%;
    height: 10vh;
    display: flex !important;
    align-items: center !important;
    justify-content: space-evenly  !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.wrap-menu{
    width: 40% !important;
    display: flex;
    gap: 3vh;
}
#profile-image{
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.profile-logout{
    width: 23%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.flexxx{
    display: flex;
    gap: 1vh;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}
.extra{
    width: 100px;
}
#popUp {
    width: 400px;
    height: 350px;
    cursor: pointer;
    font-size: 1.2rem;
    background: #d3d4d677;
    position: absolute !important;
    z-index: 999 !important;
    top: 35%;
    right: -10%;
    display: none;
    padding: 1rem !important;
    transform: translate(-50% , -50%) !important;
    clip-path: polygon(0% 0%, 100% 0%, 100% 84%, 75% 84%, 75% 100%, 51% 84%, 0 84%);
    /* Glossy effect */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Adjust the spread radius and opacity as needed */
}
#cross{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 2rem;
    color: #777777e3;
}
footer{
    width: 100%;
    height: 7.7vh;
    margin-top: .5rem;
    /* background: rgb(255, 255, 255); */
    
}
footer p{
    font-size: 1.3rem !important;
    margin-bottom: 0 !important;
    color: rgba(87, 84, 84, 0.753);
}

#pad{
    padding: 1.1rem;
}
#profile_pi{
    padding: .6rem !important;
    margin-top: .5rem;
    width: 18rem !important;
}
#Registration{
    font-size: 2.5rem !important;
    
}
#logo {
    width: 60px;
    mix-blend-mode: multiply;
    border-radius: 50%;
}
.main-menu{
    width: 100px;
    font-family: "Holtwood One SC", serif;
    font-weight: 400;
    font-style: normal;
    color: #565252d5;

}
#copyright{
    margin-top: 1.2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#copyright img{
    width: 50px;
    border-radius: 50%;
    box-shadow: 5px 5px 7px rgb(0 0 0 / 25%),
    inset 2px 2px 5px rgb(255 255 255 / 25%),
    inset -3px -3px 5px rgb(0 0 0 / 12%);
}
h2{
    font-family: "Holtwood One SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem !important;
    color: #565252d5;
    filter: drop-shadow(4px 4px 8px rgb(189 200 213)) !important;
}
label,#name , #email , #contact ,#dob ,#profile_pi ,#update_button ,p{
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #777777a4;
    border: none;
    font-size: 1.1rem !important;
} 

.container{
    border-radius: 15px;
    min-height: 80vh;
    cursor: pointer;
    box-shadow: 7px 7px 15px #45566754,
    -8px -8px 15px rgb(81 101 121 / 35%),
    inset -5px -4px 13px 0px rgb(81 101  121 / 35%),
    inset 6px 7px 12px 0px rgb(255 255 255 / 94%);
}
input{
    box-shadow: inset 4px 4px 8px rgb(189 200 213),
    inset -4px -4px 8px rgb(255 255 255);
    outline: none;
    border: none;
    cursor: pointer;
    padding: 1.4rem !important;
    border-radius: 20px !important;
}
input.focus{
    box-shadow: inset 4px 4px 8px rgb(189 200 213),
    -4px -4px 8px rgb(255 255 255);
}
input:hover{
    outline: none;
    border: none;
}
#update_button{

    border: none;
    padding: .7rem 1.8rem;
    font-size: 1.2rem;
    text-transform: lowercase;
    box-shadow: 4px 4px 8px rgb(189 200 213),
    inset -4px -4px 8px rgb(255 255 255);
    border-radius: 20px;
}

