<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Student Management System{% endblock %}</title>
    <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='styles/scss/app.css')}}">
    <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='styles/index.css')}}">
    <script src="{{ url_for('static', filename='javascripts/index.js') }}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- <div id="loader">
        <h2 class="head">Loading..
        <h1>0%</h1>
    </div> -->
    <!-- ?nav bar code -->
    <div class="nav">
        <div class="logo">
            <img src="https://tse4.mm.bing.net/th?id=OIP.ageHnS8e-mHiDvTd8or35AHaCg&pid=Api&P=0&h=180" alt="Logo">
        </div>
        <div class="btns">
            <button class="apply">Apply Now</button>
            <button class="login">Login</button>
        </div>
    </div>
    {% block content%}

    <!-- ?Header Block Code -->

    <!-- <main>
        <div class="grab">
            <div class="nav_menu">
                <div class="contain">
                    <a class="apps" href="/">Admin DashBoard</a>
                    <a class="apps" href="/add">Add New Student</a>
                    <a class="apps" href="/view">Review and Edit Students</a>
                    <a class="apps" href="/student_dashBoard">student DashBoard</a>
                    <a class="apps" href="/stuff_dashBoard">stuff DashBoard</a>
                </div>
            </div>
            <div class="image">
                <img src="" alt="">
            </div>
        </div>
    </main> -->
    <header>
        <div class="subheader">
            <h1>EDUCAVO</h1>
            <ul>
                <li>Home</li>
                <li>Contact</li>
                <li>Campous</li>
                <li>Courses</li>
            </ul>
            <a href="">Menu <i class="fa-solid fa-bars"></i></a>
        </div>
        <div class="middleheader">
            <h1>Persue Your Passion</h1>
            <h1 id="university">Evucavo University</h1>
            <h1>In India</h1>
            <a href="/student_dashBoard" class="btn">
                Discover More
            </a>

        </div>
        <div class="footerheader">
            <div class="box1 box">
                <img src="https://tse1.mm.bing.net/th?id=OIP.XTaCtyya62guf-ukJ8ehTQHaHa&pid=Api&P=0&h=180" alt="">
                <h3>Future Students</h3>
            </div>
            <div class="box2 box">
                <img src="https://tse1.mm.bing.net/th?id=OIP.CI4opffJWbvirrqra0tWigHaHa&pid=Api&P=0&h=180" alt="">
                <h3>World Students</h3>
            </div>
            <div class="box3 box">
                <img src="https://seecs.nust.edu.pk/wp-content/uploads/2020/06/studentconcern-icon.png" alt="">
                <h3>Current Students</h3>
            </div>
            <div class="box4 box">
                <img src="https://tse1.mm.bing.net/th?id=OIP.9bpuD961fuAlMDSS0K_ZSwHaIC&pid=Api&P=0&h=180" alt="">
                <h3>aluminis and donors</h3>
            </div>
        </div>
    </header>

    {% endblock %}
    <footer>
        <!-- <h2><span class="right">~Made by Rudra</span><span>❤️</span><span class="right">Saha~</span></h2> -->
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>