<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Data Pie Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='styles/student_dash_board.css')}}">
    <script src="{{ url_for('static', filename='javascripts/student_dash_board.js') }}" defer></script>
  </head>
  <body>
        <canvas id="myChart" height="500" width="500"></canvas>
  </body>
</html>
